name: simple workflow cmds
on: [push]
jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo 'hello world!'
      - name: multiline script
        run: |
          date
          uname -a
